:root{
	--mainColor:#7b7be7;
	--secondaryColor:#54549b;
	
	

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(37, 37, 73);
	--previewShadow:#3e3e87;


	--buttonColor:#2f2f45;


}